<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.my_doctor2">

    <!-- Required permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="My Doctor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_Doctor2"
        tools:targetApi="31">

        <!-- MainActivity - The launcher activity -->
        <activity
            android:name=".MainActivity"
            android:label="My Doctor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:label="Login Activity">
        </activity>


        <!-- SignUpActivity -->
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up Activity">
        </activity>

        <!-- com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.DoctorDashboardActivity -->
        <activity
            android:name=".DoctorDashboardActivity"
            android:label="Doctor Dashboard">
        </activity>

        <!-- com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.PatientDashboardActivity -->
        <activity
            android:name=".PatientDashboardActivity"
            android:label="Patient Dashboard">
        </activity>

        <!-- com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.com.example.my_doctor2.PatientDetailsActivity -->
        <activity
            android:name=".PatientDetailsActivity"
            android:label="Patient Details">
        </activity>
        <activity
        android:name=".ViewDocumentsActivity"
        android:label="Document view">
        </activity>


        <!-- Add more activity elements for other pages as needed -->

    </application>

</manifest>
